{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="header-info-block">
            <h1>Cart</h1>
            <p>Online shop for Jujutsu Kaisen Fans</p>
        </div>

    {% for product in cart_products %}
    <div class="task">
            <!-- <h1>{{ product }}</h1> -->
            <h2>{{ product.product.name }}</h2>
            <p>Quantity: {{ product.count }}</p>
            <p>
                <a href="{% url 'product' product.product.pk %}">See More...</a>

                <form action='{% url "cart-delete" product.product.pk %}' method="POST">
                    {% csrf_token %}
                    <input type="number" id="quantity" name="quantity" required>
                    <input class="btn btn-primary" type="submit" value="REMOVE">
		        </form>
            </p>
            <hr>
    </div>
    {% endfor %}
    <div class="task-form">
            <form action='{% url "order"%}' method="POST">
                {% include "order/order_form.html" with button_text="ORDER" %}
            </form>
        </div>
    {% if is_paginated %}

    {% include 'partial/pagination.html' %}

    {% endif %}

{% endblock %}